{% extends "index.html" %}


{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <style>
        .leaflet-control {
            background-color:rgba(255,255,255,0.6);
            color:#666;
            padding: 10px;
        }
    </style>    
{% endblock head %}


{% block middle %}
    
    {% block hero %}
    <div class="jumbotron">
        <div class="container no-padding">                                                
            <div id="site-intro" class="row">
                <div class="col-sm-7 heading">                    
                    <h1>Risk Data Hub</h1>        
                    <p>A GIS web platform of European wide (EU, EFTA and IPA countries) risk data, tools and methodologies for Disaster Risk Reduction.</p>
                </div>
                <div class="col-sm-5">
                    <img alt="Disaster Risk Management Cycle"  src="{{ STATIC_URL }}img/drm-lifecycle.svg" />
                </div>                            
            </div>
            <div id="hazard-links" class="row">
                <div class="col-sm-12">
                    <a href="http://139.191.12.199/risks/data_extraction/?init=%7B%22href%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Floc%2FEU%2F%22%2C%22geomHref%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Fgeom%2FEU%2F%22%2C%22gc%22%3A%22ht%2FFL%2F%22%2C%22d%22%3A%7B%22dim1%22%3A0%2C%22dim2%22%3A1%2C%22dim1Idx%22%3A0%2C%22dim2Idx%22%3A0%7D%2C%22s%22%3A%7B%7D%7D" 
                        class="hazard-link"><i class="icon-flood"></i><span class="hazard-title">River Flood</span></a>
                    <a href="http://139.191.12.199/risks/data_extraction/?init=%7B%22href%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Floc%2FEU%2F%22%2C%22geomHref%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Fgeom%2FEU%2F%22%2C%22gc%22%3A%22ht%2FFLSH%2F%22%2C%22d%22%3A%7B%22dim1%22%3A0%2C%22dim2%22%3A1%2C%22dim1Idx%22%3A0%2C%22dim2Idx%22%3A0%7D%2C%22s%22%3A%7B%7D%7D"
                        class="hazard-link"><i class="icon-flash-flood"></i><span class="hazard-title">Flash Flood</span></a>
                    <a href="http://139.191.12.199/risks/data_extraction/?init=%7B%22href%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Floc%2FEU%2F%22%2C%22geomHref%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Fgeom%2FEU%2F%22%2C%22gc%22%3A%22ht%2FCF%2F%22%2C%22d%22%3A%7B%22dim1%22%3A0%2C%22dim2%22%3A1%2C%22dim1Idx%22%3A0%2C%22dim2Idx%22%3A0%7D%2C%22s%22%3A%7B%7D%7D"
                        class="hazard-link"><i class="icon-storm-surge"></i><span class="hazard-title">Coastal Flood</span></a>
                    <a class="hazard-link"><i class="icon-wildfire"></i><span class="hazard-title">Forest Fire</span></a>
                    <a href="https://drmkc.jrc.ec.europa.eu/risk-data-hub/risks/data_extraction/?init=%7B%22href%22%3A%22%2Frisk-data-hub%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Floc%2FEU%2F%22%2C%22geomHref%22%3A%22%2Frisk-data-hub%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Fgeom%2FEU%2F%22%2C%22gc%22%3A%22ht%2FFF%2F%22%2C%22d%22%3A%7B%22dim1%22%3A0%2C%22dim2%22%3A1%2C%22dim1Idx%22%3A0%2C%22dim2Idx%22%3A0%7D%2C%22s%22%3A%7B%7D%7D"
                        class="hazard-link"><i class="icon-earthquake"></i><span class="hazard-title">Earthquake</span></a>
                    <a class="hazard-link inactive"><i class="icon-volcano"></i><span class="hazard-title">Volcano</span></a>
                    <a href="http://139.191.12.199/risks/data_extraction/?init=%7B%22href%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Floc%2FEU%2F%22%2C%22geomHref%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Fgeom%2FEU%2F%22%2C%22gc%22%3A%22ht%2FLS%2F%22%2C%22d%22%3A%7B%22dim1%22%3A0%2C%22dim2%22%3A1%2C%22dim1Idx%22%3A0%2C%22dim2Idx%22%3A0%7D%2C%22s%22%3A%7B%7D%7D"
                        class="hazard-link"><i class="icon-landslide"></i><span class="hazard-title">Landslide</span></a>
                    <a href="http://139.191.12.199/risks/data_extraction/?init=%7B%22href%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Floc%2FEU%2F%22%2C%22geomHref%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEurope%2Fgeom%2FEU%2F%22%2C%22gc%22%3A%22ht%2FSD%2F%22%2C%22d%22%3A%7B%22dim1%22%3A0%2C%22dim2%22%3A1%2C%22dim1Idx%22%3A0%2C%22dim2Idx%22%3A0%7D%2C%22s%22%3A%7B%7D%7D"
                        class="hazard-link"><i class="icon-subsidence"></i><span class="hazard-title">Subsidence</span></a>
                    <a href="http://139.191.12.199/risks/data_extraction/?init=%7B%22href%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEUWaters%2Floc%2FEW%2F%22%2C%22geomHref%22%3A%22%2Frisks%2Fdata_extraction%2Freg%2FEUWaters%2Fgeom%2FEW%2F%22%2C%22gc%22%3A%22ht%2FOS%2F%22%2C%22d%22%3A%7B%22dim1%22%3A0%2C%22dim2%22%3A1%2C%22dim1Idx%22%3A0%2C%22dim2Idx%22%3A0%7D%2C%22s%22%3A%7B%7D%7D"
                        class="hazard-link"><i class="icon-oil-spill"></i><span class="hazard-title">Oil Spill</span></a>
                    <a class="hazard-link inactive"><i class="icon-drought"></i><span class="hazard-title">Drought</span></a>
                    <a class="hazard-link inactive"><i class="icon-cyclone"></i><span class="hazard-title">Cyclone</span></a>
                    <a class="hazard-link inactive last"><i class="icon-nuclear"></i><span class="hazard-title">Nuclear</span></a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block mainbody %}
        <div class="container no-padding">                                    
            <div class="row">
                <div class="col-sm-4 box-home">
                    <div class="box-risk">
                        <h2>Exposure Analysis</h2>
                        <p>Exposure to potential disaster events (using data from models): discovery of most exposed areas for every hazard. This leads to <strong>Prevention and Preparedness</strong></p>
                    </div>
                    
                </div>
                <div class="col-sm-4 box-home">
                    <div class="box-event">
                        <h2>Historical Events</h2>
                        <p>Damages and losses caused by past events: useful for statistical analysis, finding trends and check eligibility for <u>solidarity fund requests</u>. This leads to <strong>Response and Recovery</strong></p>
                    </div>                    
                </div>
                <div class="col-sm-4 box-home">
                    <div class="box-country-corner">
                        <h2>Country Corner</h2>
                        <p>The country corner aims to help single member states to prepare their national risk assessment, using detailed data coming from all administrative levels.</p>
                    </div>
                    
                </div>
            </div>

            <!--<div class="row">
                <div class="col-sm-6">
                    <img style="max-width:100%" alt="rdh_example_screenshot" src="{{ STATIC_URL }}img/rdh_analysis_screenshot.png" />
                </div>
                <div class="col-sm-6">                    
                    <h2>Analysis features</h2>        
                    <p>Large amounts of complex data rendered in an understandable and valuable way by:</p>
                    <ul class="list-group">
                        <li class="list-group-item">Interactive map</li>
                        <li class="list-group-item">Charts</li>
                        <li class="list-group-item">Different aggregation levels</li>                        
                        <li class="list-group-item">Sendai Framework for Disaster Risk Reduction specific indicators</li>                        
                    </ul>
                </div>
            </div>            
            <div class="row">
                <div class="col-sm-6">                    
                    <h2>Country corner</h2>        
                    <p>The country corner aims to help single member states to prepare their own risk assessment, using detailed data coming from all administrative levels.</p>                    
                    <p>The online platform is helpful for two main types of assessment:</p>
                    <ul class="list-group">
                        <li class="list-group-item">Exposure to potential disaster events (using data from models): discovery of most exposed areas for every hazard. This leads to <strong>Prevention and Preparedness</strong></li>
                        <li class="list-group-item">Damages and losses caused by past events: useful for statistical analysis, finding trends and check eligibility for <u>solidarity fund requests</u>. This leads to <strong>Response and Recovery</strong></li>                        
                    </ul>
                    <p>Authorized users may access the tool by selecting their country of competence.</p>
                </div>
                <div class="col-sm-6">
                    <div id="mapid-country" style="height:400px"></div>
                </div>                
            </div>
            <div class="row">                    
                <div class="col-sm-6">
                    <div id="mapid" style="height:400px"></div>
                </div>   
                <div class="col-sm-6">                    
                    <h2>Getting started</h2>        
                    <p>Risk Data Hub makes publicly available many European-wide datasets.</p>
                    <p>To start using the web tool, select and click a region on the map, or simply click the link on the main navigation menu.</p>                                        
                    <p><strong>Note: this release is a prototype. Please, refer to Contact section for suggestions or any further requests.</strong></p>
                </div>             
            </div>
        </div>-->

        {% block partners %}
        <div class="container section">            
            <h2>Scientific Partners</h2>            
            <div class="partners-slide">
                <div class="slick-item">
                    <a href="http://www.copernicus.eu" target="_blank">
                        <img alt="copernicus" src="{{ STATIC_URL }}img/copernicus.png" />
                    </a>                    
                </div>
                <div class="slick-item">
                    <a href="http://edo.jrc.ec.europa.eu" target="_blank">
                        <img alt="edo" src="{{ STATIC_URL }}img/edo.png" />
                    </a>                    
                </div>
                <div class="slick-item">
                    <a href="https://www.efas.eu" target="_blank">
                        <img alt="efas" src="{{ STATIC_URL }}img/efas.png" />
                    </a>                    
                </div>
                <div class="slick-item">
                    <a href="http://effis.jrc.ec.europa.eu" target="_blank">
                        <img alt="effis" src="{{ STATIC_URL }}img/effis.png" />
                    </a>                    
                </div>
                <div class="slick-item">
                    <a href="http://ghsl.jrc.ec.europa.eu" target="_blank">
                        <img alt="ghsl" src="{{ STATIC_URL }}img/ghsl.png" />
                    </a>                    
                </div>
                <div class="slick-item">
                    <a href="https://esdac.jrc.ec.europa.eu" target="_blank">
                        <img alt="esdac" src="{{ STATIC_URL }}img/esdac.png" />
                    </a>                    
                </div>
                <div class="slick-item">
                    <a href="http://www.gdacs.org" target="_blank">
                        <img alt="gdacs" src="{{ STATIC_URL }}img/gdacs.png" />
                    </a>                    
                </div>
                <div class="slick-item">
                    <a href="http://data.jrc.ec.europa.eu/collection/LISCOAST" target="_blank">
                        <img alt="liscoast" src="{{ STATIC_URL }}img/liscoast.png" />
                    </a>                    
                </div>
                <div class="slick-item">
                    <a href="http://www.share-eu.org/" target="_blank">
                        <img alt="share" src="{{ STATIC_URL }}img/share.png" />
                    </a>                    
                </div>
            </div>                      
        </div>    
        
        {% endblock %}
        {% block bigsearch %}        
            
        {% endblock %}

        {% block datasets %}  
            
        {% endblock %}

        {% block showcase %}  
            
        {% endblock %}

    {% endblock %}

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        
        

        /*MAIN BLOCK FUNCTION*/
        function bootstrapMap(id, filename, params = null) {
            const lat = params && params.lat || 50;
            const lng = params && params.lng || 9;
            const zoom = params && params.zoom || 4;
            const max_zoom = params && params.maxZoom || 18;

            var map = L.map(id).setView([lat, lng], zoom);  
                
            L.tileLayer('//europa.eu/webtools/maps/tiles/osm-ec/{z}/{x}/{y}.png', {
                maxZoom: max_zoom,
                attribution: 'Map data &copy; <a href="http://europa.eu/index_en.htm">European Union</a>',            
            }).addTo(map);
    
            var info = L.control();
    
            info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
            };
    
            info.update = function (props) {
                const displayName = props ? props.name ? `<b>${props.name}</b>` : `<b>${props.HRname}</b>` : 'Hover over a region';
                this._div.innerHTML = '<h4>Available Regions</h4>' +  displayName;
            };
    
            info.addTo(map);            
            
            let geojson;
            const filePath = `{{ STATIC_URL }}js/${filename}`;            
    
            getGeoJson(filePath)
                .then(data => {
                    geojson = L.geoJSON(data, {
                        style: style,
                        onEachFeature: onEachFeature
                    }).addTo(map);
                }); 

            /***FUNCTIONS***/
            function getGeoJson(url) {
                let res = '';

                return fetch(url)
                .then((response) => {
                    if(response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Server response wasn\'t OK');
                    }
                })
                .then((json) => {
                    return json;
                });
            }

            function getColor(feature) {
                switch (feature.properties.HRpcode) {                
                    case 'EU': return "#2e7c6b";
                    case 'EW': return "#2e7c6b";
                    case 'SEE': return "#2e7c6b";
                }
                return "#2c689c";
            }

            function style(feature) {
                return {
                    weight: 1,
                    opacity: 1,
                    color: 'white',
                    //dashArray: '3',
                    fillOpacity: 0.3,
                    fillColor: getColor(feature)
                };
            }

            function highlightFeature(e) {
                var layer = e.target;            
                /*var color = null;
                switch (layer.feature.properties.code) {
                    case 'europe': color = "#ff0000"; break;
                    case 'marine': color = "#0000ff"; break;
                    case 'ipa': color = "#80f442"; break;
                }*/            
                layer.setStyle({                
                    weight: 3,
                    color: '#666',
                    dashArray: '',
                    fillOpacity: 0.7
                });

                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    layer.bringToFront();
                }

                info.update(layer.feature.properties);                
            }

            function resetHighlight(e) {
                geojson.resetStyle(e.target);
                info.update();
            }

            function handleClick(e) {
                const publicRegions = ['EU', 'EW', 'SEE'];
                const isUserAuthenticated = '{{ user.is_authenticated }}' === 'True';  
                const props = e.target.feature.properties;
                const contextUrlPrefix = getUrlPrefix();
                setLocalStorageItem(props);
                const disasterRisk = localStorage.getItem("disasterRisk");
                
                if(props.HRpcode) {
                    if(publicRegions.includes(props.HRpcode)) {
                        location.href = appUrl;
                    }
                    else {
                        if(isUserAuthenticated) {
                            jQuery.ajax({
                            url: `${contextUrlPrefix}/risks/data_extraction/countryauth/`,
                            type: "POST",
                            data: disasterRisk,
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            dataType: "json"
                            })
                            .done(function(response){                                
                                if(response && response.success) {                                
                                    location.href = appUrl;
                                }                            
                                else if(response && response.errors) 
                                    alert(response.errors);
                            })
                            .fail(function(jqXHR, textStatus, errorThrown){                        
                                const errorObj = JSON.parse(jqXHR.responseText);                        
                                const errorMessage = errorObj && errorObj.errors[0] || "Error loading data";
                                alert(errorMessage);
                            });
                        }
                        else {
                            (document.getElementById('user-login-link')).click();
                        }
                    }
                }                                                
            }

            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: handleClick
                });
            }
            /***END OF FUNCTIONS***/
        }                                                     
        
        jQuery.noConflict();
        jQuery(document).ready(function(){              
            setLocalStorageItem();

            jQuery('.partners-slide').slick({
                arrows: true,
                centerMode: true,                
                variableWidth: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });
        });

        //appUrl = jQuery("#nav_risks a").attr("href").replace(/\/$/, "");
        const appUrl = '/risks/data_extraction';

        function getUrlPrefix() {
            const adjustedPathname = window.location.pathname.slice(-1) == "/" ? window.location.pathname : window.location.pathname + "/";
            return adjustedPathname.split('/').length > 2 ? '/' + adjustedPathname.split('/')[1] : '';
        }
        
        function setLocalStorageItem(props = null) {            
            const adm_code = props && props.HRpcode || 'EU';             
            const adm_name = props && props.HRname || 'Europe';                          
            const contextUrlPrefix = getUrlPrefix();
            const disasterRisk = {app: {region: adm_code, regionName: adm_name, href: appUrl, geom: appUrl}, requestContext: 'region', contextUrl: contextUrlPrefix, csrfmiddlewaretoken: '{{ csrf_token }}'};                                                      
            localStorage.removeItem("disasteRisk");
            localStorage.setItem("disasterRisk", JSON.stringify(disasterRisk));
        }

        //main map
        //bootstrapMap('mapid', 'rdh_maskprj.json');
        //country corners map
        //bootstrapMap('mapid-country', 'rdh_country_corner.json');
        
    </script>
{% endblock extra_script %}
  

